@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --yellow: #ffbd13;
    --blue: #4383ff;
    --blue-d-1: #3278ff;
    --light: #f5f5f5;
    --grey: #aaa;
    --white: #fff;
    --shadow: 8px 8px 30px rgba(0, 0, 0, 0.05);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Exo 2", sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(124, 37, 53));
}

header {
    position: sticky;
    top: 0px;
    width: 100%;
    background-color: #181818a1;
    border-radius: 0 0 30px 30px;
    z-index: 1;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 12px 20px;
}

.logo img {
    width: 40px;
}

.menu {
    display: flex;
}

.menu li {
    padding-left: 30px;
}

.menu li a {
    display: inline-block;
    text-decoration: none;
    color: #f9ff9f;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}

.menu li .login {
    color: #bebebe;
}

.menu li .login:hover {
    color: #ffca38;
    text-shadow: 0 0 20px #f59c48;
} 

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #f9ff9f;
    transition: 0.15s ease-in-out;
}

.menu li a:hover:after {
    width: 100%;
}

.open-menu, .close-menu {
    position: absolute;
    color: #f9ff9f;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    transition: .2s;
}

.close-menu {
    top: 20px;
    right: 20px;
    transition: .2s;
}

.open-menu:hover {
    color: #f7ff88;
    text-shadow: 0 0 10px #f9ffa3;
}

.close-menu:hover {
    color: #f7ff88;
    text-shadow: 0 0 10px #f9ffa3;
}

#check {
    display: none;
}

@media (max-width: 1150px) {
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100%;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #181818;
        transition: all 0.2s ease-in-out;
    }

    .menu li {
        margin-top: 40px;
    }

    .menu li a {
        padding: 10px;
    }

    .open-menu, .close-menu {
        display: block;
    }

    #check:checked ~ .menu {
        right: 0;
    }
}

section {
    padding: 40px 15%;
}

.contact {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 6rem;
}

.contact-image img{ 
    max-width: 100%;
    width: 720px;
    margin: auto;
    border-radius: 10px;
}

.contact-form h1{
    font-size: 80px;
    color: #fff;
    margin-bottom: 20px;
    cursor: default;
}

span {
    color: #f9004d;
}

.contact-form p {
    color: var(--white);
    letter-spacing: 1px;
    line-height: 26px;
    font-size: 1.1rem;
    margin-bottom: 3.8rem;
    cursor: default;
}

.contact-form form {
    position: relative;
}

.contact-form form input, form textarea {
    width: 100%;
    padding: 17px;
    border: none;
    outline: none;
    background: #191919;
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
    border-radius: 10px;
}
.contact-form textarea {
    resize: none;
    height: 200px;
}

.contact-form form .btn {
    display: inline-block;
    background: #f9004d;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 10px;
    width: 220px;
    transition: ease .20s;
    cursor: pointer;
}

.contact-form form .btn:hover {
    border: 2px solid #f9004d;
    background: transparent;
    transform: scale(1.1);    
}

@media (max-width: 1400px) {
    section {
        padding: 80px 3%;
        transition: .2s;
    }

    .contact-form h1 {
        font-size: 60px;
    }

    .contact-form p {
        margin-bottom: 3rem;
    }
}

@media (max-width: 1090px) {
    .contact {
        grid-gap: 2rem;
        transform: .3s;
    }
}

@media (max-width: 1000px) {
    .contact {
        grid-template-columns: 1fr;
    }

    .contact-form {
        order: 2;
    }

    .contact-image img {
        max-width: 100%;
        width: 100%;
        height: auto;
        text-align: center;
        margin-bottom: 30px;
    }
}
